<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kacau.kacaumap">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ManagerEdit" />
        <activity android:name=".Navigation" />
        <activity android:name=".InternalMap208" />
        <activity android:name=".Search" />
        <activity android:name=".ManagerSearch" />
        <activity android:name=".ManagerLogin" />
        <activity android:name=".ResultMap" />
        <activity android:name=".InternalMap204" />
        <activity android:name=".InternalMap310" />
    </application>

</manifest>